<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookworm</title>
    <link rel = "icon" href = "bookworm.png" type = "image/x-icon">
    
    <style>
        
    </style>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    
    <div class = "container">
        <div class = "row m-3 p-3"> 
            <div class = "col-3 d-flex"> 
                <img src="bookworm.png" class = "circle-rounded" width = "200" style="border-radius: 50%;" class="img-thumbnail" >
            </div>
            <div class=" search col-9 mt-5 mb-3"> 
                <form>        
                    <input type="text" class="search" id="string" placeholder="Search by Books/Author/Publisher">
                </form>
            </div>
        </div>
</div>