<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookworm</title>
    <link rel = "icon" href = "bookworm.png" type = "image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    
    
    <div class = "row"> 
      <div class = "col-3 d-flex justify-content-center mx-auto"> 
        <img src="bookworm.png" class="img-thumbnail" >
      </div>
    </div>
    
    <fieldset class="text-center">
      <legend class="scheduler-border">Log In</legend>
      <div class="user mb-3">
             
        <input type="text" class="user" id="username" placeholder="username" />
      </div>
      <div class="text-center>
        <div class="user">
           
          <input type="password" class="user" id="password" placeholder="password" />
        </div>
    </div>
    <div class="d-grid gap-4 d-md-block mt-2">
      <button class="btn btn-primary " type="button">Log In</button>
    </div>
    Don't have an account?
    <a href="signup.html">Sign Up</a>

  </fieldset>
  </body>
</html>