<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>বই সমাহার</title>
    <link rel = "icon" href ="/images/boisomahar.png" type = "image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    
    
    <form id="loginForm" method="post">
      <div>
        <input class="form-control me-2" id="name" name="name" type="text" placeholder="user name" required>
      </div>

      <br>

      <div>
        <input type="password" class="form-control me-2" id="password" name="password" type="text" placeholder="password" required autocomplete="on">
      </div>

      <br>

      <div>
        <button class="btn btn-outline-success" type="submit" > Login </button>
      </div>

    </form>

    <center>Don't have an account? 
    <a href="signup">signup</a>
    </center>

   
    
  </body>
</html>